[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pandas = "*"
tqdm = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
numba = "*"

[dev-packages]

[requires]
python_version = "3.11"
